body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    position: relative;
    border: 2px dashed black;
    width: 400px;
    white-space: nowrap;
    padding: 0;
    margin: 0;    
    font-size: 0; 
    overflow: hidden;
}

img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.left-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);     
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    cursor: grab;
    z-index: 999;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    cursor: grab;
    z-index: 999;
}

.left-button svg, .right-button svg {
    width: 30px;
    height: 30px;
    fill: rgba(255, 255, 255, 0.552); 
}

.indicator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 20%;
    right: 20%;
}

.indicator-container button {
    height: 5px;
    border-radius: 10px;
    background-color: rgba(243, 243, 243, 0.455);
    flex: 1;
    border: 0;
}